<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="stylesheet" href="{{ 'reset.css' | asset_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% comment %} {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%} {% endcomment %}

    <title>
      {{ page_title }}      
    </title>

    {{ content_for_header }}

    {% style %}
      :root {
        /* spacings */
        --gap-section-x: 24px;

        /* container */
        --page-width: {{ settings.page_width }}px;

        /* colors */
        --color-primary: {{ settings.color_primary }};
        --color-secondary: {{ settings.color_secondary }};

        /* fonts */
        --font-body-family: {{ settings.type_body_font.family }}
      }

      *,
      *::before,
      *::after {
        box-sizing: inherit;
      }

      html {
        box-sizing: border-box;
        height: 100%;
      }

      body {
        font-family: 'Inter', sans-serif;
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        letter-spacing: 0.03rem;        
        line-height: calc(1.2 + 0.8 / 16);
        background-color: var(--color-primary);
        color: var(--color-secondary)
      }
    {% endstyle %}

  {{ 'base.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    {% section 'header' %}
    <main>
      {{ content_for_layout }}
    </main>

  </body>
</html>
